# Which genre of game is the most popular worldwide?

### Classification Mini Project for ITE224 - Introduction to Data Science

### by Pathompong Phongsaporamut (1801310010)

### Dataset:  Video Game Sales by GregorySmith
### https://www.kaggle.com/gregorut/videogamesales/

In [2]:
#Import required library
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
#Use pandas to read the dataset file
df = pd.read_csv("vgsales.csv")

In [4]:
#check some data on head and tail
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
df.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

#   

## Data Cleaning

In [6]:
#check if there any Missing data in dataset
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

### I would not use year and publisher to justify the popularity of a games, hence I will not need to fill the missing data into a dataset

### I need to confirm the year of the games are correct since this data is collected in 2016

In [7]:
#create gameYears variable to use .max() method to check the lastest year
gameYears = df['Year']
print(gameYears.max())

2020.0

### It seem to have year 2020 which should not be there, hence I should check which game it is and correct it with a online information

In [8]:
maxYearGame = gameYears.idxmax()
maxYearGame = df.iloc[maxYearGame]
pd.DataFrame(maxYearGame).T

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020,Simulation,Ubisoft,0.27,0,0,0.02,0.29

### The correct release date found on google

<img src="image/Imagine-Makeup-Artist.PNG"
     alt="Imagine Makeup Artist"
     style="float: left; margin-right: 10px;" />

In [9]:
#since there is only one row with 2020, therefore I replace the date with the correct one found on google
df['Year'] = df['Year'].replace(2020.0, 2009.0)

In [10]:
#Let's check for a max year again to make sure it 2016
print(gameYears.max())

2017.0

### The maximum year is still more than 2016. So I check what games have this data on its year

In [11]:
maxYearGame = gameYears.idxmax()
maxYearGame = df.iloc[maxYearGame]
pd.DataFrame(maxYearGame).T

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
14390,14393,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017,Role-Playing,Sega,0,0,0.03,0,0.03

### The correct release date found on google

<img src="image/PSO2.PNG"
     alt="Phantasy Star Online 2 Episode 4: Deluxe Package"
     style="float: left; margin-right: 10px;" />

In [12]:
#since there is only one row with 2017, therefore I replace the date with the correct one found on google
df['Year'] = df['Year'].replace(2017.0, 2016.0)
#Let's check for a max year again to make sure it 2016
print(gameYears.max())

2016.0

### At this point, I decide to determine game's popularity via its sale but the problem is some of the games are released on many console. Therefore, there are several game that has multiple row and its need to merge those row together along with sales addup into a single row.

#check for duplicate game name and merge its sale together
#After reserch I found out that pandas has the function within dataframe calls groupby

vgs.groupby(['Name'])['Global_Sales'].sum().sort_values(ascending=False)[:40]